*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 46px;
}
label{
    font-size: 20px;
    margin-left: 20px;
}
input{
    width: 220px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.first{
    margin-top: 20px;
    height: 200px;
    width: 650px;
    display: flex;
    padding-top: 30px;
    background-color: green;
}
#addincome{
    margin-top: 50px;
    width: 80px;
    height: 35px;
    background-color: gray;
    border: 2PX solid grey;
}
.incomemain{
    width: 650px;
    min-height: 100px;
    /* border: 5px solid grey; */
    text-align: center;
    margin-top:30px ;
}
.incomemain h2{
    background-color: black;
    color: white;
}
.firstsheet{
    margin:0 100px;
    display: flex;
    justify-content: space-around;
}
.secondsheet{
    display: flex;
    margin-top: 20px;
    height: 200px;
    width: 650px;
    display: flex;
    padding-top: 30px;
    background-color: green;
    margin-left: 10px;
}
#expensebtn{
    margin-top: 50px;
    width: 85px;
    height: 35px;
    background-color: gray;
    border: 2PX solid grey;
}
.expensemain{
    width: 650px;
    min-height: 100px;
    /* border: 5px solid grey; */
    text-align: center;
    margin-top:30px ;
    margin-left: 30px;

}
.expensemain h2{
    background-color: black;
    color: white;
}
.thirdsheet{
    display: flex;
    margin:0 100px;
    justify-content: space-around;
}
.calculator{
  margin-top: 50px;
}
/* .tablecol{
    width:325px;
    border:3px solid black;
} */
#errorcategory{
    font-size: 20px;
    color: red;
}
#errorincome{
    font-size: 20px;
    color: red;
}
#errorexpcategory{
    font-size: 20px;
    color: red;
}
#errorexpense{
    font-size: 20px;
    color: red;
}
#incometable-row{
    border: 2px solid grey;
}
tbody{
    border: 5px solid grey;
}
th,td{
    width:325px;
    border:3px solid black;
}
.total{
    border: 2px solid red;
}
#last{
    font-size: 40px;
    font-weight: 600;
    color: grey;
    margin-left: 30%;
    margin-top: 100px;
}
#lastbalance{
    font-size: 30px;
    font-weight: 600;
}